<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">
    <title>Portfolio</title>
</head>

<body>
    <!-- ナビゲーション -->
    <div class="sticky-top bg-light">
        <a href="#" class="navbar-brand text-dark">
            <p class="fs-1 fw-bold title m-3">portfolio site</p>
        </a>
        <ul class="nav justify-content-end">
            <li class="nav-item">
                <a href="#about" class="nav-link link-dark">
                    <p>About</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#skill" class="nav-link link-dark">
                    <p>Skill</p>
                </a>
            </li>
            <li class="nav-item">
                <a href="#works" class="nav-link link-dark">
                    <p>Works</p>
                </a>
            </li>
        </ul>
    </div>
    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="images/works/onlinesession.png" class="d-block w-75 mx-auto" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/works/weco.png" class="d-block w-75 mx-auto" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/works/spotify.png" class="d-block w-75 mx-auto" alt="...">
            </div>
            <div class="carousel-item">
                <img src="images/works/jyanken.png" class="d-block w-75 mx-auto" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true" style="background-color: black;"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>

    <!-- about -->
    <div class="container-sm py-5" id="about">
        <h1>About</h1>
        <hr class="border border-primary border-3 opacity-75">
        <div class="m-5">
            <p class="fs-1">佐田 皓紀</p>
            <p class="fs-4">SADA HIROKI</p>
            <br>
            <div class="d-flex justify-content-center">
                <div class="d-flex flex-column">
                    <p class="fs-5">HAL東京 高度情報学科 3年生</p>
                    <p class="fs-5">2003年3月生まれ。 東京都江戸川区出身。</p>
                    <p class="fs-5">子供の頃からパソコンを触ることが好きだったので、中学・高校時代にパソコン部に入部し、パソコンに対してより興味を持ちました。</p>
                    <p class="fs-5">高校卒業後、知識や技術を学び、パソコンを使った仕事に就きたいと思い、HAL東京に進学。</p>
                    <p class="fs-5">専門学校でプログラミングを初めて経験したので、技術力を上げるために日々勉強しています。</p>
                    <p class="fs-5">今後は、学んできたことを活かして、個人の仕事だけではなく、周りの人のサポートができるようになれればと考えています。</p>
                </div>
            </div>
        </div>
    </div>

    <!-- skill -->
    <div class="container-sm py-5" id="skill">
        <h1>Skill</h1>
        <hr class="border border-primary border-3 opacity-75">
        <div class="container m-2">
            <p class="fs-3">Languages</p>
            <div class="container text-center">
                <div class="row">
                    <div class="col box-1">
                        <img class="img-fluid m-2" style="width: 100px;" src="images/skill/html.png" alt=""><br>
                        HTML<br>
                        ★★★☆☆
                    </div>
                    <div class="col box-2">
                        <img class="img-fluid m-2" style="width: 70px;" src="images/skill/css.png" alt=""><br>
                        CSS<br>
                        ★★☆☆☆
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col box-1"><img class="img-fluid m-2" style="width: 175px;" src="images/skill/js.png"
                            alt=""><br>
                        JavaScript<br>
                        ★★★★☆
                    </div>
                    <div class="col box-2"><img class="img-fluid m-2" style="width: 75px;" src="images/skill/Java.png"
                            alt=""><br>
                        Java<br>
                        ★★★★☆
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col box-1"><img class="img-fluid m-2" style="width: 100px;" src="images/skill/php.png"
                            alt=""><br>
                        PHP<br>
                        ★★★☆☆
                    </div>
                    <div class="col box-2"><img class="img-fluid m-2" style="width: 125px;" src="images/skill/sql.png"
                            alt=""><br>
                        SQL<br>
                        ★★☆☆☆
                    </div>
                </div>
                <hr>
                <div class="row">
                    <div class="col box-1"><img class="img-fluid m-2" style="width: 75px;" src="images/skill/python.png"
                            alt=""><br>
                        Python<br>
                        ★★★☆☆
                    </div>
                    <div class="col box-2"><img class="img-fluid m-2" style="width: 75px;" src="images/skill/swift.png"
                            alt=""><br>
                        Swift<br>
                        ★☆☆☆☆
                    </div>
                </div>
                <hr>
            </div>
        </div>
        <div class="container">
            <p class="fs-3">Framework</p>
            <div class="container text-center">
                <div class="row">
                    <div class="col box-1">
                        <img class="img-fluid m-2" style="width: 175px;" src="images/skill/express.png" alt=""><br>
                        Express<br>
                        ★★★☆☆
                    </div>
                    <div class="col box-2">
                        <img class="img-fluid m-2" style="width: 70px;" src="images/skill/bootstrap.png" alt=""><br>
                        bootstrap<br>
                        ★★☆☆☆
                    </div>
                </div>
            </div>
            <hr>
        </div>
        <div class="container">
            <p class="fs-3">License</p>
            <div class="container text-center">
                <p class="fs-4">情報処理技術者試験 基本情報技術者</p>
                <hr>
                <p class="fs-4">情報処理活用能力検定（Ｊ検） 情報活用試験２級</p>
                <hr>
                <p class="fs-4">ＣＧクリエイター検定 ベーシック</p>
            </div>
        </div>
    </div>

    <!-- work -->
    <div class="container-sm py-5" id="works">
        <h1>Works</h1>
        <hr class="border border-primary border-3 opacity-75">
        <div class="card-group m-5">
            <div class="card me-3">
                <img src="images/works/onlinesession.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">OnlineSession</h5>
                    <p class="card-text lh-lg">就職プレゼンテーション作品・3年生の進級制作展として作成。<br>
                        サイトで演奏できる!他の人とセッションできる!というコンセプトのWebアプリ。<br>
                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal"
                            data-bs-target="#onlineSessionModal">
                            詳細
                        </button>
                    <div class="modal fade" id="onlineSessionModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">OnlineSession</h1>
                                </div>
                                <div class="modal-body">
                                    <img src="images/works/onlinesession.png" class="img-thumbnail m-2">
                                    <img src="images/works/onlinesession2.png" class="img-thumbnail m-2">
                                    <img src="images/works/onlinesession3.png" class="img-thumbnail m-2">
                                    <img src="images/works/onlinesession4.png" class="img-thumbnail m-2">
                                    <img src="images/works/onlinesession5.png" class="img-thumbnail m-2">
                                    <img src="images/works/onlinesession6.png" class="img-thumbnail m-2 ">
                                    <img src="images/works/onlinesession7.png" class="img-thumbnail m-2">
                                    <p class="m-2 lh-lg">就職プレゼンテーション作品・3年生の進級制作展として作成。<br>
                                        サイトで演奏できる!他の人とセッションできる!というコンセプトのWebアプリ。<br>
                                        使用言語はHTML,CSS,JS。<br>
                                        Node.jsのExpressで初めてのWebアプリを作成。<br>
                                        サイト上でピアノ、ギター、ベース、ドラムを演奏することができる。<br>
                                        WebSocketを使用するとこで、双方向通信をし、音のセッションができる。</p>
                                    <p><a class="link-opacity-50-hover" target="_blank" rel="noopener noreferrer"
                                            href="https://onlinesession.onrender.com">作品ページへ</a></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="card">
                <img src="images/works/weco.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">Weco</h5>
                    <p class="card-text lh-lg">2年生の進級制作展として作成。<br>
                        リサイクルをテーマに作成したアパレルECサイト。<br>
                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal"
                            data-bs-target="#wecoModal">
                            詳細
                        </button>
                    </p>
                    <div class="modal fade" id="wecoModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Weco</h1>
                                </div>
                                <div class="modal-body">
                                    <img src="images/works/weco1.png" class="img-thumbnail m-2">
                                    <img src="images/works/weco2.png" class="img-thumbnail m-2">
                                    <img src="images/works/weco3.png" class="img-thumbnail m-2">
                                    <img src="images/works/weco4.png" class="img-thumbnail m-2">
                                    <img src="images/works/weco5.png" class="img-thumbnail m-2">
                                    <p class="m-2 lh-lg">2年生の進級制作展として作成。<br>
                                        リサイクルをテーマに作成したアパレルECサイト。<br>
                                        使用言語はHTML,CSS,JS,PHP,SQL。<br>
                                        6人のチームで作成。私は主にHTML,JS,PHP,SQLを担当。<br>
                                        BlenderとThree.jsを使用することで、3Dモデルの表示・着せ替えができる。
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-group m-5">
            <div class="card me-3">
                <img src="images/works/spotify.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">SpotifyBot</h5>
                    <p class="card-text lh-lg">DiscordBotの作成。<br>
                        おすすめのアーティストを出してくれるBot。<br>
                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal"
                            data-bs-target="#spotifybotModal">
                            詳細
                        </button>
                    </p>
                    <div class="modal fade" id="spotifybotModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">SpotifyBot</h1>
                                </div>
                                <div class="modal-body">
                                    <img src="images/works/spotifybot.png" class="img-thumbnail m-2">
                                    <img src="images/works/spotifybot2.png" class="img-thumbnail m-2">
                                    <p class="m-2 lh-lg">DiscordBotの作成。<br>
                                        おすすめのアーティストを出してくれるBot。<br>
                                        使用言語はpython。<br>
                                        discordライブラリーとspotipyライブラリーを使用し、discordに自分の好きなアーティストのspotifyリンクを送信すると、<br>
                                        spotifyAPIでそのアーティストに類似したアーティストのリンクを20件近く送信するBot。
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <img src="images/works/jyanken.png" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">じゃんけんサイト</h5>
                    <p class="card-text lh-lg">1年生の進級制作展として作成。<br>
                        いつでも、どこでも、じゃんけんができる。というコンセプトのサイト。<br>
                        <button type="button" class="btn btn-primary my-3" data-bs-toggle="modal"
                            data-bs-target="#jyankenModal">
                            詳細
                        </button>
                    <div class="modal fade" id="jyankenModal" data-bs-backdrop="static" data-bs-keyboard="false"
                        tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-scrollable">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">じゃんけんサイト</h1>
                                </div>
                                <div class="modal-body">
                                    <img src="images/works/jyanken.png" class="img-thumbnail m-2">
                                    <img src="images/works/jyanken2.png" class="img-thumbnail m-2">
                                    <img src="images/works/jyanken3.png" class="img-thumbnail m-2">
                                    <p class="m-2 lh-lg">1年生の進級制作展として作成。<br>
                                        いつでも、どこでも、じゃんけんができる。というコンセプトのサイト。<br>
                                        使用言語はHTML,CSS,JS,PHP。<br>
                                        今までの勝率を出してくれる機能や5回連戦する機能がある。</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">閉じる</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <footer class="bg-light p-4">
        <div class="container text-center">
            <p>© 2023 sadahiroki</p>
        </div>
    </footer>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
</body>

</html>